boto3==1.24.33
boto3-stubs==1.24.33
botocore==1.27.33
botocore-stubs==1.27.33
jmespath==1.0.1
mypy-boto3-cloudformation==1.24.24.post1
mypy-boto3-dynamodb==1.24.27
mypy-boto3-ec2==1.24.32
mypy-boto3-lambda==1.24.0
mypy-boto3-rds==1.24.23
mypy-boto3-s3==1.24.0
mypy-boto3-sqs==1.24.0
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
types-s3transfer==0.6.0.post1
typing_extensions==4.3.0
urllib3==1.26.10
